input{
    margin: 2px;
    padding: 5px;
    border: 2px gray;
    background-color: rgb(255, 255, 255);
    color: #000000;
    font-size: 12px;
    outline: 10px;
    background-image: url('./fruit bowl.jpg');
    background-size: 30px 30px;
    background-repeat: no-repeat;
}