* {
    font-family: sans-serif;
}

body {
    background-color: #CEF;
}

h1, h2 {
    color: blue;
}

.quote {
    color: rgba(41,172,232,1);
    font-size:40px;
    line-height: 60px;
    padding:0 20%;
}

a {
    color: black;
    text-decoration: none;
    cursor: text;
}

a:visited {
    color:grey;
}

