body{
    width: 800px;
    font-family: Arial, Helvetica, sans-serif; 
    color: rgb(255, 255, 255);
}
h{
    padding: 10px;  
}
p{
    width: 450px;
}
h1{
    color:FF4000
}
div.Information{
text-align: justify;
color: royalblue;
}
div.Information h{
    text-align: right;
    padding: 12px;
}