* {
    font-family: courier;
}

body {
    background-color: #aeeee443;
}

h1, h2 {
    color: hotpink;
}
h3, h4 {
    color: 8E0B2B;

}
a {

    text-decoration: blink;
}

.quote {
    color: rgb(82, 41, 232);
    font-size:40px;
    line-height: 60px;
    padding:0 20%;
}

a {
    color: purple;
    text-decoration: none;
    cursor: default;
}

a:visited {
    color: purple;


}
