body {
    background-color: aliceblue;
    text-align: center
}
p.one {
    border-width: 10px;
    border-style: solid;
    border-color: navajowhite rebeccapurple rgb(0, 0, 0) moccasin;
}
p {
    width: 250px;
    border: 3px solid blue;
    padding: 20px;
    margin: 20px auto;
    border-radius: 60px;
}
<<<<<<< HEAD

=======
div something leader {
    color: salmon;
    background-color: brown;
    margin: 200px;
    align-self: auto;
}
>>>>>>> a6d7d5706f875f65a225bf9dc4154ed3ca8714e0
